name: SpecFlow.VisualStudio.CI 

resources:
- repo: self
  clean: true

jobs:

- template: build.yml  
  parameters:
    name: VS2015
    visualStudioVersion: '2015'
    artifactName: 'SpecFlow.VisualStudio.VS2015.CI-BuildResult'
    artifactFileName: '$(Build.ArtifactStagingDirectory)/SpecFlow.VisualStudio.VS2015.zip'
    appInsightsInstrumentationKey: '$(AppInsightsInstrumentationKey)'
    pool:
      name: 'Hosted'

- template: build.yml  
  parameters:
    name: VS2017
    visualStudioVersion: '2017'
    artifactName: 'SpecFlow.VisualStudio.VS2017.CI-BuildResult'
    artifactFileName: '$(Build.ArtifactStagingDirectory)/SpecFlow.VisualStudio.VS2017.zip'
    appInsightsInstrumentationKey: '$(AppInsightsInstrumentationKey)'
    pool:
      name: 'Hosted VS2017'

- template: build.yml  
  parameters:
    name: VS2019
    visualStudioVersion: '2019'
    artifactName: 'SpecFlow.VisualStudio.VS2019.CI-BuildResult'
    artifactFileName: '$(Build.ArtifactStagingDirectory)/SpecFlow.VisualStudio.VisualStudioIntegration.zip'
    appInsightsInstrumentationKey: '$(AppInsightsInstrumentationKey)'
    pool:
      name: 'Hosted Windows 2019 with VS2019'

