<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.3.0" targetFramework="net46" />
  <package id="Mono.Cecil" version="0.9.5.3" targetFramework="net45" />
  <package id="Nerdbank.GitVersioning" version="2.2.13" targetFramework="net46" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SpecFlow.CustomPlugin" version="1.9.0" targetFramework="net45" />
</packages>