<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.2.2" targetFramework="net45" />
  <package id="Moq" version="4.0.10827" requireReinstallation="True" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net45" />
  <package id="SpecFlow.CustomPlugin" version="2.1.0" targetFramework="net45" />
</packages>